.container {
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
}

body {
    display: flex;
    flex-direction: column;
}


@media @desktop-width {
    .container {
        max-width: 1150px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

