.container {
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

a {
    color: #000;
    text-decoration: none;
}

@media @desktop-width {
    .container {
        max-width: 1150px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

