.catalog-navigation {
    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__item {
        width: 100%;
        height: 103px;
        padding-left: 28px;
        box-sizing: border-box;   
        padding-top: 25px;   
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--interior {
            background-color: @color-interior;
            margin-top: -74px;
            position: relative;

            &:hover {
                height: 108px;
                margin-top: -79px;
            }
        }

        &--toys {
            background-color: @color-toys;
            position: relative;

            &:hover {
                height: 108px;
                margin-top: -5px;
            }
        }
    }

    &__text {
        margin: 0;
        font-family: "Tahoma";
        font-size: 18px;
        line-height: 24px;
        color: #fff;
    }

    &__svg {
        fill: #3bb09d;
    }
}

.catalog-navigation__item:hover  .catalog-navigation__svg {
    fill: #29a592;
}

.catalog-navigation__item:active  .catalog-navigation__svg {
    fill: #44c0aa;
}

.catalog-navigation__item:active  .catalog-navigation__text {
    opacity: 0.3;
}

.interior {
    margin-right: 36px;
    margin-top: -2px;
}

.toy-svg {
    margin-right: 27px;
    margin-top: -4px;
}


@media @tablet-width {
    .catalog-navigation {
        &__wrapper {
            flex-direction: row;
            justify-content: center;
        }

        &__item {
            height: 119px;
            margin-top: -124px;
            width: 334px;
            padding-top: 27px;
            padding-left: 35px;
            
            &--interior {
                &::after {
                    top: 29px;
                }

                &:hover {
                    margin-top: -130px;
                    height: 130px;
                }
            }

            &--toys {
                &::after {
                    top: 30px;
                    right: 33px;
                }

                &:hover {
                    margin-top: -130px;
                    height: 130px;
                }
            }
        }

        &__text {
            font-size: 20px;
            line-height: 30px;
        }

        &__zigzag {
            height: 24px;
            width: 100%;
            background-image: url(../img/zigzag-fill-desktop.svg);
            margin-top: -17px;
            position: relative;
            background-position: center;
            /* background-repeat: no-repeat; */
        }
    }
}

@media @desktop-width {
    .catalog-navigation {
        &__item {
            width: 525px;
            margin-top: -121px;
            height: 137px;
        }

        &__zigzag {
            background-image: url("../img/zigzag-fill-desktop2.svg");
            height: 34px;
            background-position: center;
            margin-top: -36px;
            border-bottom: 2px solid #fff;
        }
    }
}