.catalog {
    &-item {
        &__item {
            display: flex;
            flex-direction: column;
        }

        &__image {
            margin: auto;
            width: 100%;
            max-width: 430px;
        }

        &__image img {
            width: 100%;
            height: 100%;
            max-width: 430px;
        }

        &__description {
            margin: auto;
            border: 1px solid @color-border-main-nav;
            width: 100%;
            min-height: 178px;
            box-sizing: border-box;
            margin-top: -10px;
            margin-bottom: 31px;
            padding-top: 10px;            
            padding-left: 27px;
            padding-right: 25px;
            max-width: 430px;
        }

        &__item-name {
            font-family: "Verdana Bold";
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 7px;

            &--desktop {
                display: none;
            }
        }

        &__item-options {
            margin-top: 1px;
            letter-spacing: 0.2px;
            padding-bottom: 2px;
        }

        &__price-wrapper {
            height: 72px;
            border-top: 1px solid @color-border-main-nav;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__price {
            font-family: "Verdana Bold";
            font-size: 14px;
            line-height: 24px;
            margin-top: -2px;
        }

        &__icon-cart-svg {
            margin-top: -6px;
        }

        &__name-link {               
            &:hover h3 {
            opacity: 0.6;
            }

            &:active h3 {
                opacity: 0.3;
            }
        }

        &__price-link {
            &:hover b {
                opacity: 0.6;
            }
    
            &:active b {
                opacity: 0.3;
            }
        }

        &__icon-cart-svg {
            fill: #d3d2d2;
            cursor: pointer;

            &:hover {
                fill: #63d1bb;
            }

            &:active {
                fill: #d0f1ea;
            }
        }
    }

    &-video {
        &__icon-video-svg {
            fill: #63d1bb;
            margin-top: -2px;
            margin-left: 2px;
            margin-right: 8px;
        }

        &__icon-play-svg {
            content: "";
            position: absolute;
            margin: auto;
            margin-top: 39px;
            margin-left: 80px;
            border-radius: 21%;
        }

        &__title-wrapper {
            display: flex;
            flex-direction: row;
            padding-left: 32px;
            padding-top: 7px;;
            align-items: center;
            padding-right: 18px;
            padding-bottom: 8px;
            border: 1px solid @color-border-main-nav;

            &--tablet-desktop {
                display: none;
            }
        }

        &__title {
            font-family: "Verdana Bold";
            font-size: 16px;
            line-height: 24px;
            margin-left: 15px;
            margin-top: 18px;
        }

        &__video-wrapper img {
            height: 150px;
            width: 260px;
        }

        &__video {
            position: relative;
            display: flex;
            width: 260px;
            margin: auto;
        }

        &__description {
            padding-left: 33px;
            padding-top: 13px;
            line-height: 24px;
            border: 1px solid @color-border-main-nav;
            margin-top: -10px;
            padding-bottom: 31px;
            margin-bottom: 59px;
            padding-right: 33px;
        }

        &__text {
            padding-bottom: 8px;
            margin-top: 13px;
            margin-bottom: 15px;
        }
    }
}

@media @tablet-width {
    .catalog.container {
        padding-left: 51px;
        padding-right: 50px;
    }

    .catalog-item {
        &__item {
            flex-direction: row;
            margin-bottom: 44px;
        }

        &__image img {
            width: 334px;
            max-width: none;
        }

        &__description {
            border-left: none;
            margin-top: 0;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 334px;
        }

        &__item-name {
            font-size: 18px;
            margin-left: -1px;
            margin-top: 15px;
        }

        &__item-options {
            margin-left: -1px;
            letter-spacing: 0.7px;
            margin-top: 7px;
        }

        &__price {
            font-size: 16px;
            margin-top: -4px;
            margin-left: 4px;
        }

        &__icon-cart-svg {
            margin-top: -8px;
            margin-right: 6px;
        }

        &__image {
            height: 334px;
            margin-top: 0;
        }
    }

    .catalog-video {
        &__title-wrapper {
            &--mobile {
                display: none;
            }

            &--tablet-desktop {
                display: flex;
                padding-top: 19px;
            }
        }

        &__video-wrapper img {
            width:  668px;
            height: 455px;
        }

        &__video {
            width: 668px;
        }

        &__icon-play-svg {
            margin-top: 194px;
            margin-left: 283px;
        }

        &__title-wrapper {
            border-bottom: none;
            margin-top: -10px;
            padding-top: 19px;
            margin-bottom: 0px;
            padding-bottom: 4px;
        }

        &__description {
            margin-top: -14px;
            border-top: none;
            padding-top: 12px;
            padding-left: 40px;
            padding-right: 41px;
            padding-bottom: 45px;
            padding-bottom: 45px;
        }

        &__title {
            font-size: 18px;
            line-height: 24px;
            margin-left: 17px;
        }

        &__text {
            line-height: 30px;
            margin-bottom: 26px;
            font-size: 16px;
            letter-spacing: 0.3px;
        }
    }
}

@media @desktop-width {
    .catalog.container {
        width: 1150px;
        margin: auto;
    }

    .catalog-item {
        &__item {
            width: 350px;
            flex-direction: column;
            padding-right: 35px;
            margin-left: 0px;
            margin-right: 0px;
            height: 659px;
        }

        &__description {
            width: 316px;
            border: 1px solid @color-border-main-nav;
            height: 195px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: -10px;
            padding-top: 23px;
            margin-bottom: 0px;
        }

        &__item:nth-child(2n) {
            padding-left: 16px;
            padding-right: 16px;
        }

        &__item:nth-child(3n) {
            padding-left: 35px;
            padding-right: 0px;
        }

        &__image img {
            width: 316px;
            height: 462px;
        }

        &__image {
            margin: 0;
            height: 472px;
        }

        &__wrapper {
            display: flex;
            flex-direction: row;
            margin-bottom: 13px;
        }

        &__item-name {
            margin-left: -2px;
            margin-top: 0;

            &--desktop {
                display: block;
                line-height: 26px;
                margin-bottom: 0px;
            }

            &--mobile-tablet {
                display: none;
            }
        }

        &__price {
            margin-top: -2px;
            margin-left: -1px;
        }

        &__item-options {
            &--basket-desktop {
                margin-top: 2px;
                margin-bottom: 0px;
            }
        }
    }

    .catalog-item__item:hover  .catalog-item__description {
        box-shadow: rgba(0,0,0,.1) 3px 1px 5px -2px,
         rgba(0,0,0,.1) -3px 1px 5px -2px,
         rgba(0, 0, 0, 0.1) 0 6px 10px 0px;
    }

    .catalog-item__item:active  .catalog-item__description {
        box-shadow: rgba(0,0,0,.1) 3px 1px 3px -2px,
         rgba(0,0,0,.1) -3px 1px 3px -2px,
         rgba(0, 0, 0, 0.1) 0 3px 10px 0px;
    }

    .catalog-video {
        &__video {
            height: 455px;
            width: 682px;
        }

        &__video img {
            height: 455px;
            width: 682px;
        }

        &__wrapper {
            display: flex;
            flex-direction: row;
            margin-bottom: 58px;
        }

        &__title-wrapper {
            margin-top: 0px;
        }

        &__icon-play-svg {
            margin-top: 189px;
            margin-left: 299px;
            cursor: pointer;

            &:hover {
                width: 121.2px;
                height: 93.6px;
                margin-top: 181.2px;
                margin-left: 288.9px;
            }

            &:active {
                fill-opacity: 0.3;
                width: 80.8px;
                height: 62.4px;
                margin-top: 196.8px;
                margin-left: 309.1px;
            }
        }

        &__icon-video-svg {
            margin-left: 15px;
            height: 33px;
            width: 45px;
        }

        &__title-description-wrapper {
            box-sizing: border-box;
            height: 455px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid @color-border-main-nav;
        }

        &__description {
            border: none;
            padding-bottom: 0px;
            margin-bottom: 20px;
            padding-top: 43px;
            padding-right: 58px;
            padding-left: 79px;
            box-sizing: border-box;
            height: 300px;
            max-height: 300px;
        }

        &__title-wrapper {
            border: none;

            &--tablet-desktop {
            display: flex;
            flex-direction: column;
            align-items: left;
            padding-left: 57px;
            padding-top: 43px;
            padding-right: 58px;
            height: 185px;
            box-sizing: border-box;
            max-height: 185px;
            }
        }

        &__title {
            margin-top: 21px;
            margin-bottom: 0;
            margin-left: 20px;
        }

        &__text {
            margin-top: -24px;
            margin-bottom: 8px;
        }
    }

    .catalog-video__wrapper:hover  .catalog-video__title-description-wrapper {
        box-shadow: rgba(0,0,0,.1) 3px 1px 10px -2px,
        rgba(0,0,0,.1) 0px -6px 10px -2px,
        rgba(0, 0, 0, 0.1) 0 6px 10px 2px;
    }

    .catalog-video__wrapper:active  .catalog-video__title-description-wrapper {
        box-shadow: rgba(0,0,0,.1) 1px 4px 8px -7px,
        rgba(0,0,0,.1) 0px -6px 5px -4px,
        rgba(0, 0, 0, 0.1) 0 3px 5px 1px;
    }
}