.main-nav.container {
    padding: 0;
}

.main-nav {
    display: block;

    &--close {
        display: none;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        text-transform: none;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        background-color: transparent;
        font-family: "Verdana Bold";
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        width: 100%;
    }

    &__item {
            text-decoration: none;
            box-sizing: border-box;
            height: 79px;
            border-top: 1px solid @color-border-main-nav;
            display: flex;
            width: 100%;
            cursor: pointer;

            &--catalog-page {
                height: 78px;
            }

        &--logo {
                padding-top: 4px;
                position: relative;

                & a {
                    margin: auto;
                    margin-top: 9px;
                }
        }
            
        &--catalog {
                margin-left: -16px;
        }

        &--order {
                margin-left: -9px;
        }

        &--search {
            &-item b {
                margin-left: -30px;
            }
        }

        &--basket {
                margin-left: 19px;     
        }
    }

    &__item picture {
            margin: auto;
    }

    &__item a {
            text-decoration: none;
            color: #000;
            margin: auto;
            // padding-left: 75px;
    }

    &__toggle {
        font-size: 0;
        display: block;
        position: absolute;
        border: none;
        background: transparent;
        height: 25px;
        width: 25px;
        right: 28px;
        top: 26px;
        cursor: pointer;
        z-index: 4;
        outline: none;

        &::before,
        &::after {
            width: 2px;
            height: 26px;
            background-color: #000;
            content: "";
            position: absolute;
            top: 0px;
            right: 11px;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__text,
    &__text-bold {
        display: none;
    }
}

.main-nav--basket-svg,
.main-nav--search-svg {
    fill: #d3d2d2;
}

.main-nav__item-li-basket:hover .main-nav--basket-svg,
.main-nav__item-li-search:hover .main-nav--search-svg {
    fill: #63d1bb;
}

.main-nav__item-li-basket:active .main-nav--basket-svg,
.main-nav__item-li-search:active .main-nav--search-svg {
    fill: #d0f1ea;
}

.main-nav__item:hover  .main-nav__item-b  {
    opacity: 0.6;
}

.main-nav__item:active  .main-nav__item-b  {
    opacity: 0.3;
}

.main-nav__item-li-search,
.main-nav__item-li-basket {
    position: relative;
    display: flex;
}

.main-nav--search-svg,
.main-nav--basket-svg {
    position: absolute;
    content: "";
    left: 32px;
    bottom: 30px;
    opacity: 20%;
}

.main-nav__item:hover  picture {
    opacity: 0.6;
}

.main-nav__item:active  picture {
    opacity: 0.3;
}

.main-nav__item--logo.main-nav__item--catalog {
    padding-top: 0;
}

@media @tablet-width {
    .main-nav {
        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 3px;
            margin-top: 0;
        }

        &__item {
            height: 89px;
            border-top: none;
            border-bottom: 1px solid @color-border-main-nav;

            &--logo {
                width: 36%;
                order: 0;
                flex-grow: 5;
                padding: 0;
                padding-left: 50px;

                & a {
                    margin-left: 0;
                    margin-top: 22px;
                }
            }

            &--logo picture {
                margin-top: 19px;
                margin-left: -2px;
            }

            &--search {
                &-item {
                    position: relative;

                    /*&::before {
                            /position: absolute;
                            content: "";
                            height: 23px;
                            width: 23px;
                            background: url("../img/sprite.svg");
                            top: 2px;
                            left: -13px;
                            background-position: -15px 279px;
                    }*/
                }
            }

            &--basket {
                &-item {
                    margin-right: 50px;

                    & b {
                        padding-right: 50px;
                    }
                }
            }
            
            &--catalog {
                margin-left: 0;
            }

            &-li {
                &-search {
                    order: 1;
                    min-width: 82px;
                    width: 9%;    
                    font-size: 0; 
                    border-right: 1px solid @color-border-main-nav;
                    border-left: 1px solid @color-border-main-nav;   
                    
                }

                &-basket {
                    order: 2;
                    max-width: 345px;
                    width: 37%;
                    display: flex;
                    flex-grow: 2;
                    box-sizing: border-box;

                    & a {
                        margin-right: 0;
                    }
                }

                &-catalog {
                    order: 3;
                    width: 25%;
                    border-bottom: none;
                    font-size: 14px;
                    margin-left: 0;
                    height: 62px;

                    & a {
                        margin-left: 50px;
                    }
                }

                &-order {
                    order: 4;
                    width: 25%;
                    border-bottom: none;
                    font-size: 14px;
                    height: 62px;

                    & a {
                        margin-left: 33px;
                    }
                }
            }
        }

        &__toggle {
            display: none;
        }

        &__text {
            display: flex;
            margin-top: -45px;
            margin-right: 0;
            position: absolute;
            right: 50px;
            letter-spacing: 0.8px;
        }
    }
}

@media @desktop-width {
    .container {
        max-width: 1150px;
        padding-left: 50px;
        padding-right: 50px;
        box-sizing: border-box;
    }

    .main-nav {
        &__text-bold {
            display: inline;
            position: absolute;
            font-family: "Verdana Bold";
            font-size: 14px;
            text-decoration: none;
            color: #000;

            &--receipts {
                margin-top: 16px;
            }

            &--sale {
                margin-left: 222px;
                margin-top: 16px;
            }

            &:hover {
                opacity: 0.6;
            }

            &:active {
                opacity: 0.3;
            }
        }

        &__text {
            margin-top: 16px;
            right: 0px;
        }

        &__list {
            margin-top: 0;
        }

        &__item {
            margin-left: 0;
            height: 88px;
            box-sizing: border-box;
            border-bottom: 1px solid @color-border-main-nav;

            & a {
                letter-spacing: 1.3px;
            }

            &--logo {
                order: 2;
                width: 250px;
                padding-left: 0;

                & picture {
                    margin-top: 9px;
                    margin-left: 2px;
                }

                & a {
                    margin-top: 9px;
                }
            }

            &--basket {
                &-item b {
                    padding-right: 0;
                }
            }

            &--order {
                &-item b {
                    margin-left: 35px;
                }
            }

            &-li {
                &-catalog {
                    order: 0;
                    width: 236px;
                    border-right: 1px solid @color-border-main-nav;
                    margin-left: -49px;
                    padding-left: 49px;

                    & a {
                        margin-left: 0;
                    }
                }

                &-order {
                    order: 1;
                    width: 260px;
                    letter-spacing: 1.3px;

                    & a {
                        margin-left: 0;
                    }
                }

                &-search {
                    order: 3;
                    width: 84px;

                    & a {
                        letter-spacing: 0;
                    }
                }

                &-basket {
                    order: 4;
                    margin-right: -50px;
                    padding-right: 50px;
                    width: 314px;

                    & a {
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
}