.order-form {
    &__wrapper {
        display: flex;
        flex-direction: column;
        background-color: #7C6F5F;
        margin-top: -4px;
    }

    &__text {
        font-size: 14.76px;
        font-family: "OpenSans";
        line-height: 25.31px;
        color: @color-text;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
        letter-spacing: -0.4px;
        margin-bottom: 29px;
    }

    &__block {
        border: none;
        border-top: 1px solid #ff7272;
        display: flex;
        margin-left: 30px;
        margin-right: 30px;
        padding: 0px;
    }

    &__block-title {
        top: -9px;
        color: @color-hover-element;
        font-family: "OpenSans";
        font-size: 16.87px;
        line-height: 16.87px;
        font-weight: 800;
        text-transform: uppercase;
        margin-left: -1px;
        padding-right: 28px;
    }
}