.page-footer {
    background-color: @color-footer;
    display: flex;
    flex-direction: column;

    &__social-links {
        height: 80px;
        border-bottom: 1px solid @color-border-main-nav;
        display: flex;  
        
        &-wrapper {
            padding-bottom: 9px;
            margin-top: 23px;
            display: flex;
            align-items: baseline;
            margin: auto;
            padding-top: 14px;
            padding-left: 6px;
        }
    }

    &__hashtag {
        display: flex;
        flex-direction: row;
        height: 80px;
    }

    &__logo {
        display: none;
    }

    &__logo-svg {
        fill: #000;
    }
}

.page-footer__logo:hover  .page-footer__logo-svg {
    fill: #46c1ae;
    transition: fill 0.15s ease-out;
}

.page-footer__logo:active  .page-footer__logo-svg {
    fill: #bde3dd;
}

.social-link {
    font-size: 0;
    width: 34px;
    height: 30px;
    display: inline-block;

    &--fb {
        margin-right: 21px;
        margin-left: 32px;
    }

    &__svg {
        fill: #221f1f;
    }
}

.social-link:hover  .social-link__svg {
    fill: #46c1ae;
    transition: fill 0.15s ease-out;
}

.social-link:active  .social-link__svg {
    fill: #bde3dd;
}

.hashtag {
    &__text {
        font-size: 18px;
        font-family: "OpenSans";
        margin: auto;
        margin-right: 22px;
        margin-top: 0px;        
    }

    &__link {
        margin-left: 10px;
        margin-right: 6px;
        margin: auto;
        font-size: 16px;
        font-family: "Verdana Bold";

        &:hover {
            opacity: 1;
            color: @color-toys;
            transition: color 0.15s ease-out;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 11px;
        margin: auto;
        cursor: pointer;
    }

    &__svg {
        fill: #63d1bb;
    }
}

.hashtag__wrapper:hover  .hashtag__svg {
    fill: #46c1ae;
}

.hashtag__wrapper:active  .hashtag__svg {
    fill: #bde3dd;
}

@media @tablet-width {
    .page-footer__wrapper.container {
        padding-left: 50px;
        padding-right: 50px;
        box-sizing: border-box;
    }

    .page-footer {
            height: 143px;
            display: flex;

        &__wrapper {
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        &__social-links {
            border-bottom: none;
            margin-left: 82px;
            margin-top: 1px;
        }

        &__logo {
            display: inline-block;
            margin-top: 20px;
            margin-left: -1px;
            font-size: 0;

            &:active {
                opacity: 0.3;
            }
        }
    }

    .hashtag {
        &__text {
            margin-top: 11px;
        }

        &__link {
            margin-top: 11px;
            margin-right: -2px;
        }

        &__wrapper {
            margin-right: 3px;
            width: 147px;
            padding-top: 0px;
            padding-bottom: 4px;
        }
    }
}

@media @desktop-width {
    .page-footer {
        height: 144px;
        margin-top: 47px;
    }

    .hashtag {
        &__wrapper {
            width: 184px;
        }
    }
}